body {text-align: left; color: #F5EEE6; text-size: 24pt; font-family: verdana; background-color: #C86B85}
h1 {text-align: left; color: #F5EEE6; text-size: 28pt; font-family: verdana}
p  {text-align: left; color: #F5EEE6; text-size: 26pt; font-family: arial; background-color: #C86B85}